@model IEnumerable<Power_Billing_Portal.Models.Contact>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPanel</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/3da5cff3a5.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<style>
    
    th, td {
        border-right: 1px solid ;
        border-bottom:1px solid;
    }
    
</style>

<body>
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);
    </script>
    <hr class="mt-3"/>
    <h1 class="text-center letter-space">IKUPAY!</h1>
    <h1 class="text-center letter-space">ADMINISTRATION PANEL</h1>
    <p class="text-center">Response the contact tickets via mail or phone.</p>
    <hr />
    <br />
    <table class="table mt-5">
        <thead>
            <tr style="border-top:1px solid black">

                <th scope="col">@Html.DisplayNameFor(model => model.FormID)</th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Gsm)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th scope="col" class="w-50">
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TicketDate)
                </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.FormID) </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gsm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)

                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { deleted = item.FormID }, new { @class = "text-center", target = "_blank" })
                    </td>
                </tr>
            }
        </tbody>

    </table>

</body>
</html>
